:root {
  --dark: rgb(99, 61, 27);
  --light: rgb(255, 231, 212);
  --primary: rgb(194, 178, 165);
  --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

html {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--light);
}

body {
  background: var(--primary);
  margin: 30px 50px;
  line-height: 1.4;
}

a {
  color: var(--light);
}

.container {
  margin-top: 3rem;
}

.container h3 {
  margin: 0 0 3rem 0;
  font-size: 26px;
  color: var(--dark);
  text-align: center;
}

/* Header */
header nav ul {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-transform: uppercase;
  padding: 0;
}

header nav ul li {
  padding: 0;
  background: var(--dark);
  text-align: center;
}

header nav ul li a {
  color: var(--light);
  font-weight: bold;
  display: block;
  text-align: center;
  padding: 0.6rem 1.2rem;
  margin: 0;
}

header nav ul li:hover {
  background-color: var(--light);
}

header nav ul li:hover a {
  color: var(--dark);
}

#showcase-container .search-tool {
  background-image: url(https://www.wdl.org/static/img/homepage/wdl-575-lg.eb1e9dc0affe.jpg);
  background-position: center;
  height: 45vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

.search-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: .9rem 2rem;
  background-color: rgba(200,200,200,.9);
  border: 1px solid rgba(90, 90, 90, 0.4);
  border-radius: .5rem;
}

.search-box h4 {
  font-size: 19px;
  color: var(--dark);
  margin: .4rem 0;
}


.search-box input {
  width: 100%;
  height: 50px;
  background: rgba(255,255,255, .9);
  border: 1px solid rgba(90, 90, 90, 0.5);
  border-radius: .5rem;
  padding: .2rem 1.2rem;
  font-size: 22px;
  align-self: center;
}


#showcase-container .showcases {
  margin-top: 1.5rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
}

.showcase span {
  text-align: center;
  display: block;
  width: 100%;
  color: var(--dark);
  font-weight: bold;
  padding: .2rem 0;
}

.showcases .showcase img {
  display: block;
  width: 100%;
  height: 100%;
}

#quotes-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.quote-box {
  width: 70%;
  font-size: 17px;
  font-weight: bold;
  color: var(--dark);
  font-style: italic;
  margin-bottom: 1.2rem;
}

.quote-box p {
  text-align: center;
  margin: .7rem 0;
}

.quote-box .author {
  display: block;
  width: 100%;
  text-align: right;
}

.quote-box .author::before {
  content: '- '
}

#newest-items-container .books {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem 2rem;
  padding: 0 3rem;
}

.book-box {
  display: flex;
  justify-content: center;
}

.book-box img {
  display: block;
  width: 100%;
  height: 100%;
}

#follow-us {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#follow-us ul {
  display: grid;
  width: 60%;
  grid-template-columns: repeat(3, 1fr);
  list-style-type: none;
}

#follow-us ul li {
  display: block;
  text-align:center;
  font-size: 3em;
}

footer {
  text-align: center;
  color: var(--dark);
  font-size: 18px;
}

@media only screen and (max-width: 700px) {
  .container h3 {
    margin-bottom: 1rem;
  }
  header nav ul {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1rem 0;
  }

  #showcase-container .search-tool {
    display: none;
  }

  #showcase-container .showcases {
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem 1rem;
  }

  .quote-box {
    width: 100%;
  }

  .quote-box p {
    text-align: right;
  }

  #newest-items-container .books {
    padding: 0;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem 1rem;
  }

  #follow-us ul {
    font-size: .5em;
    padding: 0;
    width: 100%;
  }
}
